@font-face {
  src: url("../../assets/fonts/Inter-Regular.ttf");
  font-family: interRegular;
}
@font-face {
  src: url("../../assets/fonts/Inter-Bold.ttf");
  font-family: interBold;
}
@font-face {
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
  font-family: montseRegular;
}
@font-face {
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
  font-family: montseSemiBold;
}
/* ---------- Colors ---------- */
/* ---------- Containers ---------- */
html {
  font-family: montseRegular;
  font-weight: 400;
  color: #271D20;
  font-size: 18px;
  line-height: 32px;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  padding-top: 240px;
}

h1, h2 {
  color: #003070;
  font-family: interBold;
  margin: 0;
}

h1 {
  font-size: 90px;
  line-height: 114px;
}

h2 {
  font-size: 40px;
  line-height: 100%;
}

h3 {
  font-family: interRegular;
  color: #98C000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
  padding-left: 22px;
  position: relative;
}
h3::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #98C000;
  border-radius: 100%;
  left: 0;
  top: calc(50% - 6px);
}

p, h4 {
  margin: 0;
}

section {
  padding: 100px 0;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.nav {
  margin: 0 auto;
  z-index: 9999;
  width: 100%;
  max-width: 1640px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}
.nav__content {
  background-color: #D6DDE8;
  border-radius: 100px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__content__left {
  padding-left: 48px;
}
.nav__content__left a {
  text-decoration: none;
}
.nav__content__left a img {
  width: 100%;
  height: 100%;
}
.nav__content__right ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav__content__right ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav__content__right ul li a {
  text-decoration: none;
  color: #271D20;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 900px) {
  .nav__content__right ul li a:hover {
    color: #98C000;
  }
}
.nav__content__right ul .cta {
  margin-left: 70px;
  margin-right: 70px;
  padding: 18px 40px;
  color: #FFFFFF;
  background-color: #271D20;
  border-radius: 33px;
  position: relative;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
.nav__content__right ul .cta::after {
  content: "";
  position: absolute;
  display: block;
  right: -70px;
  top: 0;
  padding-left: 0.5px;
  background-color: #271D20;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.nav__content__right ul .cta:before {
  content: url("./../assets/img/arrow_white.svg");
  position: absolute;
  display: block;
  right: -55px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 900px) {
  .nav__content__right ul .cta:hover {
    padding: 18px 115px 18px 40px;
    margin-right: 0;
    color: #FFFFFF;
    margin-left: 65px;
  }
  .nav__content__right ul .cta:hover::after {
    width: 65px;
    padding-left: 20px;
    right: 0;
  }
  .nav__content__right ul .cta:hover::before {
    right: 20px;
  }
}

.img_text_big__content {
  width: 1640px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1600px) {
  .img_text_big__content {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .img_text_big__content {
    width: 90%;
  }
}
.img_text_big__content .columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 0;
}
.img_text_big__content .columns__left {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.img_text_big__content .columns__left__paragraphs {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img_text_big__content .columns__right {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row: 1;
  z-index: -1;
}
.img_text_big__content .columns__right img {
  width: 100%;
  height: 560px;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
}
.img_text_big__content .bottom {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.img_text_big__content .bottom .left {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row: 1;
  font-family: interBold;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #003070;
}
.img_text_big__content .bottom .right {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row: 1;
}

.icons_list__content {
  width: 1364px;
  margin: 0 auto;
  position: relative;
  padding: 100px 5%;
  background-color: #EDF0F4;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1600px) {
  .icons_list__content {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .icons_list__content {
    width: 90%;
  }
}
.icons_list__content .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 85px;
}
.icons_list__content .icons__item {
  display: grid;
  grid-template-columns: 59px auto;
  gap: 30px;
  align-items: flex-start;
}
.icons_list__content .icons__item .left {
  background-color: #003070;
  height: 59px;
  width: 59px;
  border-radius: 4px;
  position: relative;
  padding: 5px;
}
.icons_list__content .icons__item .left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.icons_list__content .icons__item .right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.icons_list__content .icons__item .right p:first-of-type {
  font-family: montseSemiBold;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.pin_cards__content {
  width: 1364px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media (max-width: 1600px) {
  .pin_cards__content {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .pin_cards__content {
    width: 90%;
  }
}
.pin_cards__content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.pin_cards__content .cards__item {
  background-color: #EDF0F4;
  padding: 50px 36px 50px 74px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pin_cards__content .cards__item h4 {
  color: #98C000;
  font-size: 24px;
  font-family: montseSemiBold;
  font-weight: 600;
  font-style: normal;
  position: relative;
}
.pin_cards__content .cards__item h4::after {
  content: url("./../assets/img/pin.svg");
  position: absolute;
  display: block;
  top: 0;
  left: -40px;
}
.pin_cards__content .cards__item ul {
  padding: 0;
  margin: 0;
}
.pin_cards__content .cards__item ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.pin_cards__content .cards__item ul li a {
  color: #271D20;
  font-size: 18px;
  text-decoration: none;
}
.pin_cards__content .cards__item ul.bold li {
  font-family: montseSemiBold;
  font-weight: 600;
  font-style: normal;
}

.img_text_small__content {
  width: 1364px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: center;
}
@media (max-width: 1600px) {
  .img_text_small__content {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .img_text_small__content {
    width: 90%;
  }
}
.img_text_small__content .left img {
  width: 100%;
  height: 450px;
  border-radius: 18px;
}
.img_text_small__content .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.img_text_small__content .right .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phone__content {
  width: 1364px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  gap: 200px;
}
@media (max-width: 1600px) {
  .phone__content {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .phone__content {
    width: 90%;
  }
}
.phone__content .right {
  background-color: #EDF0F4;
  width: 100%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.phone__content .right a {
  width: fit-content;
  padding: 50px 0;
  display: block;
  font-size: 24px;
  color: #271D20;
  text-decoration: none;
  position: relative;
}
.phone__content .right a::after {
  content: url("./../assets/img/phone.svg");
  display: block;
  position: absolute;
  left: -50px;
  top: 50px;
}

.footer__content {
  width: 1364px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
@media (max-width: 1600px) {
  .footer__content {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .footer__content {
    width: 90%;
  }
}
.footer__content .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.footer__content .right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.footer__content .right ul li {
  list-style-type: none;
}
.footer__content .right ul li a {
  text-decoration: none;
  color: #271D20;
  transition: all 0.3 ease-in-out;
}
.footer__content .right ul li a:hover {
  color: #98C000;
}

@media (max-width: 1700px) {
  .nav__content {
    width: 95%;
    margin: 0 auto;
  }
  .icons_list__content {
    padding: 100px 80px;
  }
}
@media (max-width: 1600px) {
  .icons_list__content .icons {
    gap: 60px 60px;
  }
}
@media (max-width: 1500px) {
  .icons_list__content .icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  h1 {
    font-size: 80px;
    line-height: 90px;
  }
  body {
    padding-top: 150px;
  }
  .img_text_big__content .columns__left {
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .img_text_big__content .columns__right img,
  .img_text_small__content .left img {
    height: 400px;
  }
  .img_text_big__content .bottom .left {
    grid-column-start: 1;
  }
  .img_text_big__content .columns__left__paragraphs {
    width: 70%;
  }
  .phone__content {
    grid-template-columns: 2fr 4fr;
    gap: 60px;
  }
  h2 {
    font-size: 30px;
    line-height: 100%;
  }
  .icons_list__content .icons__item .right p:first-of-type {
    font-size: 20px;
  }
  .icons_list__content .icons__item .right {
    gap: 2px;
  }
  .icons_list__content .icons__item .left {
    height: 45px;
    width: 45px;
  }
  .icons_list__content .icons__item {
    grid-template-columns: 45px auto;
    gap: 25px;
  }
  section {
    padding: 80px 0;
  }
}
@media (max-width: 1400px) {
  .pin_cards__content .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1100px) {
  .img_text_big__content .columns__right img, .img_text_small__content .left img {
    height: 350px;
  }
  .img_text_small__content {
    align-items: start;
  }
  .icons_list__content {
    width: 80%;
  }
  .icons_list__content {
    padding: 70px 5%;
  }
}
@media (max-width: 900px) {
  .nav__content__right ul li a {
    display: none;
  }
  .nav__content__right ul li a.cta {
    display: block;
  }
  .pin_cards__content .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .img_text_big__content .columns {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .img_text_big__content .columns__left,
  .img_text_big__content .columns__right {
    grid-column-start: unset;
    grid-column-end: unset;
  }
  .img_text_big__content .columns__left {
    grid-row: 2;
  }
  .img_text_big__content .columns__left__paragraphs {
    width: 100%;
  }
  .img_text_big__content .bottom {
    padding-top: 80px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .img_text_big__content .bottom .left,
  .img_text_big__content .bottom .right {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row: unset;
  }
  section {
    padding: 60px 0;
  }
  .icons_list__content .icons {
    grid-template-columns: repeat(1, 1fr);
  }
  .img_text_small__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .img_text_big__content .columns__right img, .img_text_small__content .left img {
    height: 400px;
  }
  .phone__content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer__content {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .nav__content__right ul {
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .nav__content__left {
    padding-left: 12px;
  }
  .nav__content {
    width: 90%;
  }
  .img_text_big__content .columns__right img, .img_text_small__content .left img {
    height: 350px;
  }
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .phone__content .right a {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .nav__content__right ul li a {
    font-size: 18px;
  }
  .nav__content__right ul .cta {
    margin-left: 20px;
    padding: 18px 30px;
  }
  .nav {
    top: 30px;
  }
  body {
    padding-top: 100px;
  }
  .img_text_big__content .columns__right img,
  .img_text_small__content .left img {
    height: 260px;
  }
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .phone__content .right a {
    width: 80%;
    margin-left: 80px;
  }
  .footer__content .left {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 410px) {
  .pin_cards__content .cards__item {
    padding: 50px 5% 50px 15%;
  }
  .icons_list__content .icons__item {
    grid-template-columns: 1fr;
  }
  .img_text_big__content .columns__right img, .img_text_small__content .left img {
    height: 240px;
  }
}

/*# sourceMappingURL=main.css.map */
